{% extends 'navigation.html' %}
{% load static %}
{% block body %}
<div class="container">
    <h2 style="margin-top:20px" align="center">View Profile</h2><hr>

<div  class="container-fluid" style="width:80%;margin-bottom:2%">
    <hr><div class="row">
        <div class="col-md-6">
            <strong>Full Name:</strong>
        </div>
        <div class="col-md-6">
            {{pro.user.first_name}} 
        </div>
    </div><hr>
     
    <div class="row">
        <div class="col-md-6">
            <strong>Email Id :</strong>
        </div>
        <div class="col-md-6">
            {{pro.user.email}}
        </div>
    </div><hr>
     <div class="row">
        <div class="col-md-6">
            <strong>Contact :</strong>
        </div>
        <div class="col-md-6">
            {{pro.contact}}
        </div>
     </div><hr>

     <div class="row">
        <div class="col-md-6">
            <strong>City :</strong>
        </div>
        <div class="col-md-6">
            {{pro.city}}
        </div>
     </div><hr>
</div>
</div>
{% endblock %}
