{% extends 'navigation.html' %}
{% block body %}
{% load static %}
<div class="container">
    <h2 style="margin-top:10px" align="center">Registration Form</h2><hr>

<div class="container-fluid" style="width:50%;margin-top:5%">
<form method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Full Name</label>
      <input type="text" class="form-control" placeholder="Enter Full Name" name="fname" id="inputEmail4">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">User Name</label>
        <input type="text" class="form-control" name="uname" placeholder="Enter User Name" id="inputEmail4">
      </div>
  </div>
    <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputPassword4">Password</label>
      <input type="password" class="form-control" name="pwd" id="inputPassword4">
    </div>
  </div>
        <div class="form-row">
  <div class="form-group col-md-6">
    <label for="exampleInputEmail1">Email</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" placeholder="Enter Email">
  </div>

  <div class="form-group col-md-5">
    <label for="exampleInputPassword1">Contact</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter Detail" name="contact">
  </div>
        </div>
        <div class="form-row">
    <div class="form-group col-md-6">
    <label for="exampleInputPassword1">City</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter City" name="city">
  </div>

  <button type="submit" class="btn btn-outline-success">Submit</button>
</form>
</div>
</div>

{% if error %}
<script>
    alert('Regitered Successfully');
    window.location = "{% url 'login' %}";
</script>
{% endif %}

{% endblock %}